data/
annotation_submitted/
*.log
*.zip
*.npz
__pycache__/
hreembheej1008/
user_submissions/
MOBILE_DATASET/
*.json
MOBILE_VERIFIED_DATA/
completed_files.json
mnt/
.DS_Store/
.DS_Store
self_recordings/

static/mobile_training_videos/*.mp4
